{% extends 'base.html'%}
{% block title %} {{question.title}}| AzePUG Forum {% endblock %}
{% load crispy_forms_tags %}
{% block body%}
<div class="container">
    <h2><i>{{question.title}}</i></h2>
    <p class="text-lg-right">
        <i>Müəllif: 
            <a href="{% url 'user' question.author.username %}">{{question.author}}</a> 
            Tarix:{{question.date_created}}
        </i>
    </p>
    <div class="text-sm-center">
        {{question.body}}
        <br>
        {% if request.user == question.author %}
        <br><br>
            <a class = "btn btn-secondary" href="{% url 'question_update' question.id %}" >
                Redaktə et
            </a>
            <a class = "btn btn-secondary" href="{% url 'question_delete' question.id %}" >
                Sil
            </a>
        {% endif %}
    </div>

{% for a in answers %}
    <div class = "card mb-10">
        <div class="card card-title">
            <a class="card-link" href="{% url 'answer_detail' question.id a.id %}">
                <h3> {{a.author.username}} </h3>
            </a>
        </div>
        <div class="car-body">
            {{a.body|truncatewords:30|linebreaks}}
        </div>
    </div>
{% empty %}
<h3>There is no answer yet.</h3>
{% endfor %}

{% if user.is_authenticated %}
    <form action=" " method="post" enctype="multipart/form-data">
    {{answer_form|crispy}}
    {% csrf_token %}
        <p>
            <input class="btn btn-success" type="submit" value="Əlavə et">
        </p>
    </form>
{% else %}
    <h5><strong>Cavab vermək üçün <a href="{% url 'login' %}">daxil ol</a> və ya <a href="register">qeydiyyatdan keç!</a></strong></h5>
{% endif %}

</div>
{% endblock %}
