{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% load base_temptags %}
{% block title %} {{post.title}}| AzePUG Forum {% endblock %}
{% block body%}
<div class="container">
    <h2><i>{{post.title}}</i></h2>
    <p class="text-lg-right">
        <i>Müəllif: 
            <a href="{% url 'user' post.author.user_name %}">{{post.author}}</a> 
            Tarix:{{post.date_created}}
        </i>
    </p>
    <div class="text-sm-center">
        {{post.content}}
        <hr>
        <span>Tags: </span>
        {% for tag in post.tags.all %}
            <a href="#" class="badge badge-info" >{{ tag }}</a>
        {% endfor %}
        <br>
        <span>Views: {{post.views}}</span>
        <hr>
        {% if request.user == post.author %}
            <a class = "btn btn-secondary" href="{% url 'question_update' post.id %}" >
                Redaktə et
            </a>

            <a class = "btn btn-secondary" href="{% url 'question_delete' post.id %}" >
                Sil
            </a>
        {% else %}
            {% if user.is_authenticated %}
                {% support_save_tag user=user app_name='question' post=post %}
                <script src="{% static 'forum/question.js' %}"></script>
            {% endif %}
        {% endif %}
        <br>
    </div>
    <hr>

{% for a in answers %}
    <div class = "card mb-10">
        <div class="card card-title mx-2">
            <a class="card-link" href="{% url 'answer_detail' post.id a.id %}">
                <h3> {{a.author.user_name}} </h3>
            </a>
        </div>
        <div class="car-body mx-2">
            {{a.content|truncatewords:30|linebreaks}}
        </div>
    </div>
{% empty %}
<h3>There is no answer yet.</h3>
{% endfor %}
{% if user.is_authenticated %}
    <span>Cavab ver: </span>
    <form action=" " method="post" enctype="multipart/form-data">
        {{answer_form|crispy}}
        {% csrf_token %}
        <p>
            <input class="btn btn-success" type="submit" value="Əlavə et">
        </p>
    </form>
{% else %}
    <h5><strong>Cavab vermək üçün <a href="{% url 'login' %}">daxil ol</a> və ya <a href="register">qeydiyyatdan keç!</a></strong></h5>
{% endif %}
</div>
{% endblock %}
