{% extends 'base.html'%}
{% load crispy_forms_tags %}

{%block title%}
    AzePUG
{%endblock%}

{%block body%}
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class = "btn btn-success"> Search </button>
        <span class = "helper-search-input">Type text or <b>#</b> for unique post id <b>(UPI)</b> code searching. </span>
    </form>

    <style>
        span.helper-search-input{
            padding: 5px;
            border: solid black 1px;
            font-size: 13px;
            text-decoration: italic;
        }
    </style>
{%endblock%}