{% extends 'blog/post_list.html'%}
{% block title %} {{object.title}} {% endblock %}
{% block body%}
<div class="container">
    <h2><i>{{object.title}}</i></h2>
    <p class="text-lg-right"> <i>Müəllif: <a href="#">{{object.author}}</a> Tarix:{{object.date_created}}</i></p>
    <div class="text-sm-center">
        {{object.content}}
        <br>
        {% if request.user == object.author %}
            <a class = "btn btn-secondary" href="{% url 'blog:update_post' object.id %}" >
                Redaktə et
            </a>

            <a class = "btn btn-secondary" href="{% url 'blog:delete_post' object.id %}" >
                Sil
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}