{% extends 'base.html'%}
{% block title %} {{vacancy.title}} {% endblock %}
{% load crispy_forms_tags %}
{% block body%}
<div class="container">
    <h2><i>{{vacancy.title}}</i></h2>
    <p class="text-lg-right"> <i>Müəllif: <a href="{% url 'user' vacancy.author.user_name %}">{{vacancy.author}}</a> Tarix:{{vacancy.date_created}}</i></p>
    <hr>
    <div class="text-sm-center">
        {{vacancy.content}}
        <br>
        <hr>
        <ul>
            <li>Bitmə tarixi: {{vacancy.dead_line}}</li>
            {% if vacancy.freelance %}
                <li>Remote: Hə</li>
            {% else %}
                <li>Remote: Yox</li>
            {% endif %}
        </ul>
        <hr>
        <span>Tags: </span>
        {% for tag in vacancy.tags.all %}
            <a href="#" class="badge badge-info" >{{ tag }}</a>
        {% endfor %}
        <br>
        <span>Views: {{vacancy.views}}</span>
        <hr>
        <br>
        {% if request.user == vacancy.author %}
            <a class = "btn btn-secondary" href="{{vacancy.get_absolute_url}}" >
                Redaktə et
            </a>

            <a class = "btn btn-secondary" href="{% url 'vacancy_delete' vacancy.id %}" >
                Sil
            </a>
        {% endif %}
    </div>
{% include 'comments.html' %}

{% endblock %}
    