{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Yeni post - AzePUG {% endblock %}

{% block body %}
<div class="container pt-5">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            {{form.title}}
        </div>
        <div class="form-group">
            <label>Description</label>
            {{form.content}}
        </div>
        <div class="form-group">
            <label>Tags</label>
            {{form.tags}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>Common Tags: 
    {% for mt in common_tags %}
        <a href="#" class="badge badge-success">{{mt}}</a>
    {% endfor %}
    </p>
{% endblock %}



