{% extends 'base.html' %}
{% load static %}
                       <!-- Head Block -->
{% block head %} 
<link rel="stylesheet" href="{% static 'main.css'%}">
{% endblock %}
                           <!-- Title -->
{% block title %} Məqalələr - azepug{% endblock %} 
                          <!-- Content -->
{% block body %}
    <div class="blog-list">
        <div class="row">
            <div class="col-md-10">
                <div class = "h3"> Məqalələr</div>
                {% if user.is_authenticated %}
                    <div class = "add__post">
                        <a class = "btn btn-secondary" href="{% url 'blog_create' %}">
                            Məqalə əlavə et
                        </a>
                    </div>
                    <br>
                {% endif %}  
            </div>
        </div>
        {% for post in posts%}
        <div class="row">
            <div class = "card list-item my-1 mx-0">
                <div class="card-title mx-2">
                    <a href="{{post.get_absolute_url}}"><h3> {{post.title}}</h3></a>
                </div>
                <div class = "card-subtitle mx-1">
                    <i> Paylaşdı: <a href="#"> <strong>{{post.author}}</strong></a> Tarix:  {{post.date_created}} </i>
                    <hr>
                </div>
                <div class="card-body my-1 mx-2">
                    <p>{{post.content|truncatewords:30|linebreaks}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% include 'blog/pagination.html' with page=page_obj %}
{% endblock %}