{% extends 'base.html'%}
{% block title %} {{news.title}} - AzePUG {% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <h2><i>{{news.title}}</i></h2>
    <p class="text-lg-right"> <i>Müəllif: <a href="{% url 'user' news.author.user_name %}">{{news.author}}</a> Tarix:{{news.date_created}}</i></p>
    <hr>
    <div class="text-sm-center">
        {{news.content}}
        <br>
        <hr>
        <span>Tags: </span>
        {% for tag in news.tags.all %}
            <a href="#" class="badge badge-info" >{{ tag }}</a>
        {% endfor %}
        <hr>
        <br>
        {% if request.user == news.author %}
            <a class = "btn btn-secondary" href="{% url 'news_update' news.id %}" >
                Redaktə et
            </a>

            <a class = "btn btn-secondary" href="{% url 'news_delete' news.id %}" >
                Sil
            </a>
        {% endif %}
{% include 'comments.html' %}

{% endblock %}
