{% extends 'base.html'%}
{% block title %} {{post.title}} - AzePUG {% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <h2><i>{{post.title}}</i></h2>
    <p class="text-lg-right"> <i>Müəllif: <a href="{% url 'user' post.author.user_name %}">{{post.author}}</a> Tarix:{{post.date_created}}</i></p>
    <hr>
    <div class="text-sm-center">
        {{post.content}}
        <hr>
        <span>Tags: </span>
        {% for tag in news.tags.all %}
            <a href="#" class="badge badge-info" >{{ tag }}</a>
        {% endfor %}
        <br>
        <span>Views: {{post.views}}</span>
        <hr>
        <br>
        {% if request.user == post.author %}
            <a class = "btn btn-secondary" href="{% url 'news_update' post.id %}" >
                Redaktə et
            </a>

            <a class = "btn btn-secondary" href="{% url 'news_delete' post.id %}" >
                Sil
            </a>
        {% endif %}
{% include 'comments.html' %}

{% endblock %}
