{% extends 'base.html' %}
{% load static %}
                       <!-- Head Block -->
{% block head %} 
<link rel="stylesheet" href="{% static 'main.css'%}">
{% endblock %}
                           <!-- Title -->
{% block title %} Xəbərlər - azepug{% endblock %} 
                          <!-- Content -->
{% block body %}
<div class="container">
    <div class="blog-list">
        <div class="row">
            <div class="col-md-12">
                <h2> Xəbərlər</h2>
                {% if user.is_authenticated %}
                    <div>
                        <a class = "btn btn-secondary" href="{% url 'news_create' %}">
                            Xəbər əlavə et
                        </a>
                    </div>
                {% endif %}
               
            </div>
        </div>

        {% for n in news %}
        <div class = "card">
            <a href="{{n.get_absolute_url}}"> <h3> {{n.title}}</h3></a>
            <div class = "card-subtitle">
                <i> Paylaşdı: <a href="#"> <strong>{{n.author}}</strong></a> Tarix:  {{n.date_created}} </i>
            </div>
            <p>{{n.content|safe|truncatewords:30|linebreaks}}</p>
        </div>

        {% endfor %}
    </div>
</div>
{% include 'news/pagination.html' with page=page_obj %}
{% endblock %}