{% load static %}
<div class="navbar" style="background-color:rgb(24, 9, 90)">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link rounded float-start" href="/">
                 <img src = "{% static 'home/img/azepug_logo.png'%}" id = "nav_logo">
            </a> 
        </li>

        <li class="nav-item"> <a class="nav-link" href="{% url 'blog_list' %}">Məqalələr</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'news_list' %}">Xəbərlər</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'vacancy_list' %}">Vakansiyalar</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'event_list' %}">Tədbirlər</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'question_list' %}">Forum</a></li>
{% if user.is_superuser %}
        <li class="nav-item"> <a class="nav-link" href="/admin">Ad1000</a></li>
{% endif %}
        {% if user.is_authenticated %}
            <li class="nav-item"> <a class="nav-link"  href="{% url 'profile' %}">Hesabım </a></li>
        {% else %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'login'%}">Daxil ol</a></li>
        {% endif %}
    </ul>
</div>