{% extends 'base.html'%}
{% block title %} {{object.title}} {% endblock %}
{% block body%}
<div class="container">
    <h2><i>{{object.title}}</i></h2>
    <p class="text-lg-right"> <i>Müəllif: <a href="#">{{object.author}}</a> Tarix:{{object.date_created}}</i></p>
    <div class="text-sm-center">
        {{object.content}}
        <br>
        <ul>
            <li>Bitmə tarixi: {{object.dead_line}}</li>
            {% if object.freelance %}
                <li>Freelance: Hə</li>
            {% else %}
                <li>Freelance: Yox</li>
            {% endif %}
        </ul>
        <br>
        {% if request.user == object.author %}
            <a class = "btn btn-secondary" href="{% url 'vacancy:update_vacancy' object.id %}" >
                Redaktə et
            </a>

            <a class = "btn btn-secondary" href="{% url 'vacancy:delete_vacancy' object.id %}" >
                Sil
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}