{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} {{post.title}} {% endblock %}
{% block body%}
<div class="container">
    <h2><i>{{post.title}}</i></h2>
    <p class="text-lg-right">
        <i>Müəllif: 
            {% comment %} <a href="{% url 'user' post.author.user_name %}">{{post.author}}</a>  {% endcomment %}
            Tarix:{{post.date_created}} {{event}}
        </i>
    </p>
    <div class="text-sm-center mx-2">
        {{post.content}}
        <hr>
        <ul>
            <li>Başlama tarixi: {{post.starts_at}}</li>
            <li>Bitmə tarixi: {{post.ends_at}}</li>
        </ul>
        <hr>
        <span>İştirak edəcəm: </span>
        <form action="" method="post">
            {% csrf_token %}
            {{subscribe_form|crispy}}
            {% if subscribed %}
                <span class = "text-success">Subscribed. </span>
            {% else %}
                <span class="text-info">Not subscribed</span>
            {% endif %}
            <br>
            <button type="submit" class = "btn btn-success btn-small">Submit</button>{{subscribed}}
        </form>
        <hr>
        <span>Tags: </span>
        {% for tag in post.tags.all %}
            <a href="#" class="badge badge-info" >{{ tag }}</a>
        {% endfor %}
        <br>
        <span>Views: {{post.views}}</span>
        <span>Participants: {{post.participants.count}}</span>
        <hr>
        <br>
        {% if user.is_authenticated %}
            {% include 'like_save.html' %}
        {% endif %}
        {% if request.user == post.author %}
            <a class = "btn btn-secondary" href="{% url 'event_update' post.id %}" >
                Redaktə et
            </a>
            <a class = "btn btn-secondary" href="{% url 'event_delete' post.id %}" >
                Sil
            </a>
        {% endif %}
    </div>
{% include 'comments.html' %}
<script src="{% static 'events/events.js' %}"></script>
{% endblock %}