{% extends 'base.html'%}
{% block title %} {{event.title}} {% endblock %}
{% load crispy_forms_tags %}
{% block body%}
<div class="container">
    <h2><i>{{event.title}}</i></h2>
    <p class="text-lg-right">
        <i>Müəllif: 
            <a href="{% url 'user' event.author.user_name %}">{{event.author}}</a> 
            Tarix:{{event.date_created}}
        </i>
    </p>
    <div class="text-sm-center mx-2">
        {{event.content}}
        <hr>
        <ul>
            <li>Başlama tarixi: {{event.starts_at}}</li>
            <li>Bitmə tarixi: {{event.ends_at}}</li>
        </ul>
        <hr>
        <span>İştirak edəcəm: </span>
        <form action="" method="post">
            {% csrf_token %}
            {{subscribe_form|crispy}}
            {% if subscribed %}
                <span class = "text-success">Subscribed. </span>
            {% else %}
                <span class="text-info">Not subscribed</span>
            {% endif %}
            <br>
            <button type="submit" class = "btn btn-success btn-small">Submit</button>{{subscribed}}
        </form>
        <hr>
        <span>Tags: </span>
        {% for tag in event.tags.all %}
            <a href="#" class="badge badge-info" >{{ tag }}</a>
        {% endfor %}
        <br>
        <span>Views: {{event.views}}</span>
        <span>Participants: {{event.participants.count}}</span>
        <hr>
        <br>
        {% if request.user == event.author %}
            <a class = "btn btn-secondary" href="{% url 'event_update' event.id %}" >
                Redaktə et
            </a>
            <a class = "btn btn-secondary" href="{% url 'event_delete' event.id %}" >
                Sil
            </a>
        {% endif %}
    </div>
{% include 'comments.html' %}
{% endblock %}