{% extends 'base.html' %}
{% block title %} Tədbirlər - AzePUG{% endblock %}
{% block head %} {% endblock %}
{% block body %}
    <div class = "container">
        <h2>
            Tədbirlər
        </h2>
        <div class="mb-4">
            <a class = "btn btn-secondary" href="{% url 'event_create' %}">
                Tədbir əlavə et!
            </a>
        </div>
        {% for event in events %}
            <div class = "card mb-10">
                <div class="card card-title mx-2">
                    <a class="card-link" href="{% url 'event_detail' event.id %}">
                      <h3> {{event.title}} </h3>
                    </a>
                </div>
                <div class = "card-subtitle mx-1">
                    <i> Paylaşdı: <a href="{% url 'user' event.author.user_name %}"> <strong>{{event.author}}</strong></a> Tarix:  {{event.date_created}}
                         Likes:[{{event.like_count}}] || Views [{{event.views}}]
                    </i>
                    <hr>
                </div>
                <div class="car-body mx-3">
                    {{event.content|safe|truncatewords:30|linebreaks}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}